name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Install alsa and ude
      run: sudo apt-get update; sudo apt-get install --no-install-recommends libasound2-dev libudev-dev libwayland-dev libxkbcommon-dev
    - name: Cache rust modules
      uses: Swatinem/rust-cache@v2.0.1
      with:
        cache-on-failure: true
        shared-key: rust-test
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
